.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 12px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
  box-sizing: border-box;

}

.col-md_fixed{
  width: 97.7%;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.x_title hx {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

hx {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

.x_title hx small {
  margin-left: 10px;
}

.tile {
    overflow: hidden;
}

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10,
.col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-8 {
    width: 95%;
}
.col-xs-10 {
    width: 97%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: 5px;
    margin-left: 5px;
}

.top_tiles {
    margin-bottom: 0;
}
.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 5px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    transition: all 300ms ease-in-out;
}
.fa-toggle-right:before, .fa-caret-square-o-right:before {
    content: "\f152";
}
.tile-stats .icon {
    width: 20px;
    height: 20px;
    color: #BAB8B8;
    position: absolute;
    right: 53px;
    top: 22px;
    z-index: 1;
}
.tile-stats .count {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.65857;
}
.tile-stats .count, .tile-stats h3, .tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 5px;
    z-index: 5;
    padding: 0;
}
.tile-stats h3 {
    color: #BAB8B8;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}

.right_col {
    background: #F7F7F7;
}

@media (max-width: 991px) {
  .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
    width: 100%;
    margin: 0; }

  .nav-md .container.body .col-md-3.left_col {
    display: none; }

  .nav-md .container.body .right_col {
    width: 100%;
    padding-right: 0; }

  .right_col {
    padding: 10px !important; } }
@media (max-width: 1200px) {
  .x_title hx {
    width: 62%;
    font-size: 17px; }

  .tile, .graph {
    zoom: 85%;
    height: inherit; } }
@media (max-width: 1270px) and (min-width: 192px) {
  .x_title hx small {
    display: none; } }

h1, .h1, hx, .hx, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

.top_tiles .tile hx {
  font-size: 30px;
  line-height: 30px;
  margin: 3px 0 7px;
  font-weight: bold; }

.expand {
  display: block;
  text-decoration: none;
  color: #555;
  cursor: pointer; }

.expand hx {
  width: 85%;
  float: left; }
