extends ../layout
block content
  #addhoraextra(data-role="page")
    div(data-role="header", data-position="fixed")
        h1 Adicionar hora extra
    div(data-role="container")
    div(data-role="footer", data-position="fixed")
      h3 &copy; 2016 Samuel Carneiro
