extends ../layout
block content
  #principal(data-role="page")
    div(data-role="header", data-position="fixed")
        h1 Hora Extra
        a(href="#nav-panel" data-icon="bars" data-iconpos="notext" data-theme="b") Menu
        a(href="/logout" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-power ui-btn-b") #{dev.nome}
    div(role="main", data-role="container")
        if messages.erro
          div(class="alert alert-danger")
            p #{messages.erro}
          br
        if messages.info
          div(class="alert alert-success")
            p #{messages.info}
          br
        div(class="ui-body ui-body-a")  
          div(class="chart_div")  
          
    div(data-role="footer", data-position="fixed")
      h3 &copy; 2016 Samuel Carneiro
    div(data-role="panel" data-position-fixed="true" data-display="push" data-theme="a" id="nav-panel")
      ul(data-role="listview")
        li
          a(href="#" data-rel="close") Fechar menu
        li 
          a(href="/addhoraextra") Adicionar
        li 
          a(href="/consultahoraextra") Consultar
block scripts
  script(type="text/javascript").
    google.charts.load("current", {packages:["calendar"]});
    google.charts.setOnLoadCallback(drawChart);       
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);
      var options = {'title':'How Much Pizza I Ate Last Night',
                     'width':400,
                     'height':300};
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
       chart.draw(data, options);
    };  
