extends ../layout

block content
  #login(data-role="page")
      div(data-role="header", data-position="fixed")
          h1 Login
          a(href="/registro" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-b ui-btn-inline") Registrar         
      div(role="main", data-role="container")
        div(class="ui-body ui-body-a")
          form(method="POST", action="/", class="form-login")
            if messages.erro
              div(class="alert alert-danger")
                p #{messages.erro}
              br
            div(class="form-group")
              label E-mail:
              input(type="email", class="form-control", placeholder="E-mail", name="email", autofocus, required)
            div(class="form-group")
              label Senha:
              input(type="password", class="form-control", placeholder="Senha", name="senha", required)
            button(type="submit", class="btn btn-primary btn-block") Entrar
      
      div(data-role="footer", data-position="fixed")
        h3 &copy; 2016 Samuel Carneiro
