extends ../layout

block content
  #registro(data-role="page")
    div(data-role="header", data-position="fixed")
        h1 Registro
        a(href="/" class="ui-btn ui-shadow ui-corner-all ui-icon-lock ui-btn-icon-notext ui-btn-inline") Login 
    div(data-role="container")
      div(class="ui-body ui-body-a")
        form(method="POST", action="/registro/novo", class="form-registro")
          if messages.erro
            br
            div(class="alert alert-danger")
              each msg in messages.erro
                b= msg
                br
                br
          div(class="form-group")
            label Nome:
            input(type="text", class="form-control", name="nome", placeholder="Nome", autofocus, required)
          div(class="form-group")
            label E-mail:
            input(type="email", class="form-control", placeholder="E-mail", name="email", required)
          div(class="form-group")
            label Senha:
            input(type="password", class="form-control", placeholder="Senha", name="senha", required)
          div(class="form-group")
            label Confirmar senha:
            input(type="password", class="form-control", name="senha_confirmar", placeholder="Confirmar Senha", required)
          div(class="form-group")
            label Salário:        
            input(type="number", name="salario" pattern="^\d+(\.|\,)\d{2}$", placeholder="Preencher sem o ponto e a virgular", required)
          div(class="form-group")
            label Total de jornada de trabalho:        
            input(type="range", name="horasemanal", value="220" min="120" max="320", required)
            
          button(type="submit", class="btn btn-primary btn-block") Gravar    

    div(data-role="footer", data-position="fixed")
      h3 &copy; 2016 Samuel Carneiro
          
